.copy-popup {
  position: fixed;
  bottom: 16px;
  left: 50%;
  border-radius: 4px;
  padding: 16px 24px;
  background: var(--base);
  color: white;
  transform: translateX(-50%);
  animation: fade 0.2s forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
