.header-informacoes {
  background: #1188ee;
  font: 500 14px/18px "Poppins", sans-serif;
  text-align: center;
  padding: 7px 10px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 68px;
}
[data-menu="list"] {
  flex: 0;
  display: flex;
  align-items: center;
  gap: 24px;
}
[data-menu="list"] a {
  display: block;
  padding: 8px;
}
[data-menu="list"] a:hover {
  transition: 200ms;
  color: #1188ee;
}

[data-menu="list"] li:last-child a {
  white-space: nowrap;
}

@media (max-width: 900px) {
  [data-menu="list"] {
    gap: 8px;
    right: 0;
    top: 100px;
    z-index: 200;
    display: none;
    padding: 16px;
    position: absolute;
    background: var(--w);
    box-shadow: 2px 2px 2px 0 rgb(0 0 0 / 20%);
  }
}

[data-menu="list"].active {
  animation: slide 0.2s forwards;
  display: grid;
}

[data-menu="list"].active li + li {
  border-top: 1px solid var(--c2);
}
[data-menu="list"].active li:last-child {
  margin-top: 40px;
  border: none;
}

@keyframes slide {
  from {
    opacity: 0;
    right: -30px;
  }
  to {
    opacity: 1;
    right: 0px;
  }
}
